<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Preisschild erstellen aus Backend</label>
    <label lang="en">Create price tag from backend</label>
    <version>1.0.0</version>
    <link>http://www.kevin-schmid.de</link>
    <author>Kevin Schmid</author>

    <changelog version="1.0.0">
        <changes lang="de">Initiale Veröffentlich</changes>
        <changes lang="en">Initial release</changes>
    </changelog>

    <description lang="de">
        Beschreibung Preisliste
    </description>
    <description lang="en">
        description price tag
    </description>
    <compatibility minVersion="5.2.0" />

</plugin>
